<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Evitar que las peticiones a la API o subidas sean capturadas por Vue
  RewriteRule ^(api|uploads) - [L]

  # Si el archivo o carpeta existe físicamente, sírvelo directamente
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # Si no existe, redirige todo al index.html (para que Vue maneje la ruta)
  RewriteCond %{REQUEST_URI} !index\.html
  RewriteRule . /index.html [L]
</IfModule>

<IfModule mod_mime.c>
  AddType application/javascript .js
  AddType text/css .css
</IfModule>

<IfModule mod_headers.c>
  <FilesMatch "\.(js|css|xml|gz|html)$">
    Header append Vary: Accept-Encoding
  </FilesMatch>
</IfModule>
